.OrderDetails {
    border: 3px solid #6bb7c3;
    border-radius: 5px;
    float: left;
    width: 45%;
    height: 100%;
}

.OrderDetails h4 {
    padding-left: 20px;
    color: red;
}

.OrderDetails h2 {
     text-align: center;
     color: dodgerblue;
}

.OrderItemsName {
    color: #1b1eff;
    display: inline-block;
    font-weight: bold;
}
.OrderDetails p {
    color: #1b1eff;
    display: inline-block;
}

.Total {
    font-weight: bold;
    color: #ff5d10;
}
