.AddItems {
    border: 3px solid #6bb7c3;
    border-radius: 5px;
    float: right;
    width: 45%;
    height: 100%;
}

.AddItems li {
    border: 1px solid #74c349;
    border-radius: 5px;
    margin: 10px;
    padding-left: 10px;
    width: 230px;
    display: inline-block;
}

.AddItems h2 {
    text-align: center;
    color: dodgerblue;
}

.fa-cutlery {
    font-size: 40px;
    float: left;
    display: inline-block;
    padding-right: 10px;
    margin: 5px;
    color: lightslategrey;
}

.ItemsName {
    color: #1b1eff;
    font-weight: bold;
    margin: 0 auto;
}

.ItemsPrice {
    color: #25acff;
    margin: 0 auto;
}